@import "tailwindcss";
@import "./registry.css";
@import "@fontsource-variable/inter";
@import "./docs.css";

@source "../../../../../packages/registry/src";

@custom-variant dark (&:is(.dark *));

:where(:root),
.light {
  color-scheme: light;
}

@theme {
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-wide: 90rem;
}
